# OpenOCD configuration for the wasp1 Verilator remote-bitbang harness.
#
# Start the simulator first:
#   make -C wasp1 sim-rbb-build
#   wasp1/build/obj_wasp1_rbb/Vwasp1 +rbb-port=9824 +rbb-keepalive
#
# Then run:
#   openocd -f wasp1/dv/openocd/wasp1_remote_bitbang.cfg

adapter driver remote_bitbang
remote_bitbang host localhost

if {![info exists RBB_PORT]} {
    set RBB_PORT 9824
}
remote_bitbang port $RBB_PORT
reset_config srst_only srst_push_pull

set _CHIPNAME wasp1
set _TARGETNAME $_CHIPNAME.cpu

jtag newtap $_CHIPNAME cpu -irlen 5 -expected-id 0x100001cf
target create $_TARGETNAME riscv -chain-position $_CHIPNAME.cpu

riscv set_command_timeout_sec 10

init
halt
